.progress-bar{
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
    /* position: absolute; */
}

.progress{
    color: black;
    background-color: aliceblue;
    border-radius: 15px;
    position: relative;
    top: 2px;
    left: 1px;
    height: 20px;
    /* width: 100%; */
}

.bad{
    background-color: var(--high-importance);
}

.good{
    background-color: var(--light-importance);
}