.todo-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.todo-list > todo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--clr1bg); */
}


.light-importance{
    background-color: #96ceb4;
}

.mid-importance{
    background-color: #ffcc5c;
}

.high-importance{
    background-color: #d96459;
}